:root {
    // 通用变量
    --padding: 5px 12px;
    --radius: 12px;
    --shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
    --shadow1: 0 20px 10px rgba(0, 0, 0, 0.1);
    --shadow2: 0 4px 8px rgba(0, 0, 0, 0.1);
}